---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/simple-penguin">Simple Penguin</a></li>
      <li><a href="/penguin-filtre">Penguin avec filtre</a></li>
      <li><a href="/penguin-multi-filtre">Penguin multi-filtres</a></li>
      <li><a href="/simple-diamonds">Simple diamonds</a></li>
      <li><a href="/diamonds-filtre">Diamonds avec filtre</a></li>
    </ul>
  </nav>